In [11]:
import pandas as pd

In [12]:
data=pd.read_excel("C:\\Users\\exam2\\Desktop\\data.xlsx")
data

     sky AirTemp Humidity    Wind Water Forecast Enjoy
0  Sunny    Warm   Normal  Strong  Warm     Same   Yes
1  Sunny    Warm     High  Strong  Warm     Same   Yes
2  Rainy    Cold     High  Strong  Warm   Change    No
3  Sunny    Warm     High  Strong  Warm   Change   Yes

In [13]:
hypo=['phi' for i in range(len(data.columns)-1)]
hypo

['phi', 'phi', 'phi', 'phi', 'phi', 'phi']

In [14]:
data=data[data['Enjoy']=='Yes']
data

     sky AirTemp Humidity    Wind Water Forecast Enjoy
0  Sunny    Warm   Normal  Strong  Warm     Same   Yes
1  Sunny    Warm     High  Strong  Warm     Same   Yes
3  Sunny    Warm     High  Strong  Warm   Change   Yes

In [17]:
for i in range(len(data)):
    for j in range(len(data.columns)-1):
        if data.iloc[i,j]==hypo[j]:
            continue
        else:
            if hypo[j]=='phi':
                hypo[j]=data.iloc[i,j]
            else:
                hypo[j]='?'

In [18]:
print("final hypothesis:",hypo)

final hypothesis: ['Sunny', 'Warm', '?', 'Strong', 'Warm', '?']