In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:\\Users\\LENOVO\\Downloads\\ws.csv")
df

  Outlook Temperature Humidity    Wind Water Forecast EnjoySport
0   Sunny        Warm   Normal  Strong  Warm     Same        YES
1   Sunny        Warm     High  Strong  Warm     Same        YES
2   Rainy        Cold     High  Strong  Warm   Change         NO
3   Sunny        Warm     High  Strong  Cool   Change        YES

In [4]:
df=df[df[df.columns[-1]]=='YES']
df

  Outlook Temperature Humidity    Wind Water Forecast EnjoySport
0   Sunny        Warm   Normal  Strong  Warm     Same        YES
1   Sunny        Warm     High  Strong  Warm     Same        YES
3   Sunny        Warm     High  Strong  Cool   Change        YES

In [5]:
def findS(df):
  h=['pi']*(len(df.columns)-1)
  d=np.array(df)
  for i in d:
    if 'pi' in h:
      for j in range(len(h)):
        h[j]=i[j]
    else:
      for j in range(len(h)):
        if h[j]!=i[j]:
          h[j]='?'
  print(h)

In [6]:
findS(df)

['Sunny', 'Warm', '?', 'Strong', '?', '?']